@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');

:root{
    --padding-img: 60%;
}
iframe{width:100%;}
.btn{text-transform: uppercase; border-radius: 0px;}
#loading{display: none;}
.flex{display:-webkit-box;display:-ms-flexbox;display:flex;}
.row:after,.row:before{content:none;}
.cell{height:auto}
.row{width: calc(100% + 30px);}
.img{position: relative; overflow: hidden;}
.img::after{content: ""; display: block; padding-top: var(--padding-img);}
.img>img{position: absolute; left: 0; top: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; z-index: 1; transition: all 0.4s; -webkit-transition: all 0.4s; -moz-transition: all 0.4s;}
.img>div{z-index: 2; position: absolute;}
.img>img[data-src]{opacity: 0;}
.separa-10{height: 10px; clear: both;}
.separa-20{height: 20px; clear: both;}
.separa-30{height: 30px; clear: both;}
.separa-40{height: 40px; clear: both;}

#callCTA {
    display: none;
}

textarea{resize: vertical;}
.form-group{margin-bottom: 20px;}
.form-group label{font-size: 12px; text-transform: uppercase; color: #40A83C;}
.form-control{box-shadow: none; -webkit-box-shadow: none; border-radius: 0;}

.navbar-default .navbar-toggle{border: none; border-radius: 0;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: transparent;}
.navbar-default .navbar-toggle .icon-bar{background-color: #40A83C; border-radius: 0;}

/******** BREADCRUMB ********/
.breadcrumb-v2{background-color: #fafafa; border-radius: 9999px;}
.breadcrumb-v2>ol{display: -webkit-box;display: -ms-flexbox;display: flex; list-style: none;}
.breadcrumb-v2>ol>li{list-style: none;}
.breadcrumb-v2>ol>li+li::before{content: ">"; display: inline; margin: 0 10px;}
.breadcrumb-v2>ol>li>a, .breadcrumb-v2>ol>li>span{padding: 10px 0; display: inline-block;}

/******** BUSQUEDA ********/
#modalBusqueda{position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; background-color: rgba(0, 0, 0, 0.9); z-index: 99999999; -webkit-transform: scale(0.1); transform: scale(0.1); opacity: 0; pointer-events: none; -webkit-transition: all 0.4s; transition: all 0.4s; padding: 40px;}
#modalBusqueda.active{-webkit-transform: scale(1); transform: scale(1); opacity: 1; pointer-events: all;}
#modalBusqueda .cerrar{position: absolute; right: 20px; top: 20px; font-size: 24px; background: none; border: 0; color: #fff;}
#modalBusqueda input.form-control{background: none; border: none; border-bottom: solid 1px #888; font-size: 30px; padding: 15px; height: auto; color: #fff;}
#modalBusqueda .form-group-flex .btn{border-top-left-radius: 0; border-bottom-left-radius: 0;}
#modalBusqueda .container{overflow: scroll; -webkit-transition: all 0.4s; transition: all 0.4s; height: 100px; padding: 10px 0;}
#modalBusqueda.writing .container{height: calc(100vh - 80px);}
#modalBusqueda .bloque-producto{background-color: #fff;}
#modalBusqueda .message{color: #ddd; font-size: 18px; text-align: center; line-height: 1.5em;}
#modalBusqueda label{color: #ddd;}
select.form-control{font-size: 14px; border: solid 1px #ddd; border-radius: 0; background-color: #fff; color: #333; display: block; height: 30px;}
.orderBy label{font-weight: 300;}

/******** CATEGORIAS MENU ********/
#detalle-categoria-menu{position: fixed; left: 0; top: 200px; width: 100%; padding: 30px; background-color: #fff; -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2); box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2); z-index: 999999; overflow: scroll; max-height: calc(100vh - 200px); opacity: 0; -webkit-transition: all 0.4s; transition: all 0.4s; -webkit-transform: scale(0.1); transform: scale(0.1); pointer-events: none;}
#detalle-categoria-menu.shown{opacity: 1; -webkit-transform: scale(1); transform: scale(1); pointer-events: all;}
#detalle-categoria-menu h3{margin-bottom: 20px; color: #40A83C;}
#detalle-categoria-menu h3 i, #detalle-categoria-menu .product-wrapper h4, #detalle-categoria-menu .img{-webkit-transition: all 0.4s; transition: all 0.4s;}
#detalle-categoria-menu h3:hover i, #detalle-categoria-menu .product-wrapper:hover h4{-webkit-transform: translateX(10px); transform: translateX(10px);}
#detalle-categoria-menu .product-wrapper.principal:hover h4, #detalle-categoria-menu .product-wrapper.principal:hover .img{-webkit-transform: translateY(-10px); transform: translateY(-10px);}
#detalle-categoria-menu .sub{font-size: 14px; margin-bottom: 20px;}
#detalle-categoria-menu .product-list{display: -webkit-box;display: -ms-flexbox;display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
#detalle-categoria-menu .product-list .product-wrapper{margin-bottom: 20px;}
#detalle-categoria-menu .product-wrapper{display: -webkit-box;display: -ms-flexbox;display: flex; width: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
#detalle-categoria-menu .product-wrapper.principal{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; width: 100%;}
#detalle-categoria-menu .img{width: 64px;}
#detalle-categoria-menu .img>img{-o-object-fit: contain;object-fit: contain;}
#detalle-categoria-menu .img::after{padding-top: 80%;}
#detalle-categoria-menu .principal a{width: 100%;}
#detalle-categoria-menu .principal .img{width: 50%; display: block; margin: 0 auto; margin-bottom: 20px;}
#detalle-categoria-menu .close{float: none; position: absolute; right: 20px; top: 20px; -webkit-filter: none; filter: none; opacity: 0.7; color: #212121;}
#detalle-categoria-backdrop{position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 999; background-color: rgba(0,0,0,0.05);}

/******** SIN RESULTADOS ********/
.sin-resultados{padding: 80px 0; text-align: center;}
.sin-resultados i{font-size: 50px;}
.sin-resultados p{font-size: 1.5em; margin-top: 1.5em;}

@media screen and (max-width: 768px) {
    #detalle-categoria-menu{display: none;}
    #detalle-categoria-backdrop{display: none;}
    .breadcrumb-v2{display: none;}
    #modalBusqueda .form-group-flex{-ms-flex-wrap: wrap;flex-wrap: wrap;}
    #modalBusqueda input.form-control{width: 100%; font-size: 18px; padding: 15px;}
    #modalBusqueda .form-group-flex .btn{width: 100%; border-top-left-radius: 8px; border-bottom-left-radius: 8px; margin-top: 10px;}
    #modalBusqueda .container{height: 150px;}

    #callCTA {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        bottom: 20px;
        left: 20px;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.1);
        box-shadow: 0 0 8px 1px rgba(0,0,0,0.1);
        background-color: #fff;
        font-size: 24px;
        z-index: 9999;
    }
    #cookies>div:first-child{display: none !important;}
}