:root{
    --main-color:#40A83C;
    --main-color-light-1:rgba(64, 168, 60, 0.6);
    --main-color-light-2:rgba(64, 168, 60, 0.3);
}
ul, ul li{margin: 0px; padding: 0px; list-style:none;}
ul.bullet{list-style: disc; padding-left: 40px;}
ul.bullet>li{list-style: disc;}

a{color:#a1c735;}
a:hover{text-decoration: none; color: #40A83C;}
b{color:#a1c735;font-weight: 400;}
body p{text-align: justify;}

.imagen{background-position:center; background-repeat:no-repeat;background-size:cover;}
.imagen:after{content:""; padding-top: 100%; display: block;}


html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
body{font-family: "Raleway", sans-serif;background-color:#fff;font-size:18px;color:#454545; font-weight: 300; padding-top: 200px; line-height: 1.2em;}
body.no-scroll{overflow: hidden;}
h1,h2,h3,h4,h5,h6{
    font-family: "Raleway", sans-serif;
    margin:0px;
    color: #454545;
    font-weight: 700;
    text-transform: uppercase;
}
h1{font-size: 48px;}
h2{font-size: 35px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 12px;}
h6{font-size: 8px;}

.titular{text-align: center;}
.titular>span{color: #a1c735;}
.subtitulo{text-align: center; max-width: 800px; margin: 10px auto 30px;}
.tachado{text-decoration: line-through;}

.separador{width: 100%; height: auto; max-width: 360px; display: block; margin: 20px auto;}

.bg-gray{background-color: #fafafa;}

.btn{text-transform: uppercase; border-radius: 8px; padding: 10px 30px; border: 0; -webkit-transition: all 0.4s; transition: all 0.4s; position: relative;}
.btn.btn-default, .btn.btn-default:hover, .btn.btn-default:focus{background-color: #fff; color: #454545; overflow: hidden;}
.btn.btn-default::after{content: ""; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 0; background-color: #40A83C; -webkit-transition: all 0.4s; transition: all 0.4s;}
.btn.btn-default:hover::after, .btn.btn-default:focus::after{height: 5px;}

.btn.btn-success{background-color: #97c11f; color: #fff;}
.btn.btn-success:hover, .btn.btn-success:focus{background-color: #a0cb26; color: #fff;}
.btn.btn-success:active{background-color: #8fb71d; color: #fff;}

.btn.btn-like, .btn.btn-like i{-webkit-transition: all 0.4s; transition: all 0.4s;}
.btn.btn-like{padding: 10px 15px; border: solid 1px #a9a9a9;}
.btn.btn-like:hover, .btn.btn-like.active{background-color: #40A83B; box-shadow: none; -webkit-box-shadow: none; border-color: #40A83B;}
.btn.btn-like:hover i, .btn.btn-like.active i{color: #fff;}

.full-width{width:100%;}
.relative{position: relative;}
.margin-0{margin: 0px;}
.padding-0{padding: 0px;}

.form-group-flex{display: -webkit-box;display: -ms-flexbox;display: flex;}

.wrapper-flex{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 *//* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-box;      /* TWEENER - IE 10 */     /* NEW - Chrome */
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.wrapper-flex.flex-top{-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start; -webkit-align-items: flex-start;}

#callCTA{display: none;}

/******** NAV *********/
#prenav{background-color: #454545;}
#prenav .flex{-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
#prenav .redes-sociales, #prenav .prenav-info{display: -webkit-box;display: -ms-flexbox;display: flex; border-left: solid 1px #757575; border-right: solid 1px #757575;}
#prenav .prenav-info{ -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end;}
#prenav li + li{border-left: solid 1px #757575;}
#prenav a{padding: 8px 10px; color: #fff; display: block; font-size: 13px; font-weight: 300; text-transform: uppercase; -webkit-transition: all 0.4s; transition: all 0.4s;}
#prenav a:hover, #prenav a:focus{color: #454545; background-color: #fff;}
#prenav .redes-sociales i{width: 18px; text-align: center;}
#prenav .prenav-info i{color: #a1c735; transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); margin-right: 10px;}

.navbar-default{background-color: #fff; border-radius: 0; margin: 0; border-bottom-color: #C7C7C7;}
a.navbar-brand{height: auto;}
.navbar-brand>img{height: 60px; width: auto;}

.navbar-default .navbar-nav li button{background: none; border: 0;}
.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li button{padding: 20px 30px; margin-top: 15px; font-weight: 600; text-transform: uppercase; color: #454545;}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>button:focus,
.navbar-default .navbar-nav>li>button:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
    background-color: transparent;
    color: #a1c735;
}
.navbar-nav>li>.dropdown-menu{width: 100%; padding: 0;}
.navbar-default .navbar-nav .dropdown-menu>li>a{padding: 15px; margin-top: 0;}
.navbar-default .navbar-nav.navbar-right li a, .navbar-default .navbar-nav.navbar-right li button{padding-left: 10px; padding-right: 10px;}

#postnav{border-top: solid 1px #c7c7c7;}
.lista-destacadas{display: -webkit-box;display: -ms-flexbox;display: flex;}
.lista-destacadas>li{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1;}
.lista-destacadas a{padding: 15px; color: #454545; text-transform: uppercase; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center;}
.lista-destacadas img{height: 24px; width: auto; margin-right: 8px;}
.lista-destacadas>li:first-child, .lista-destacadas li+li{border-left: solid 1px #c7c7c7;}
.lista-destacadas>li:last-child{border-right: solid 1px #c7c7c7;}
.lista-destacadas a:hover, .lista-destacadas a:focus, .lista-destacadas .active a, .lista-destacadas .active a:hover, .lista-destacadas .active a:focus {
    background-color: #a1c735;
    color: #fff;
}
.lista-destacadas a:hover img,
.lista-destacadas a:focus img,
.lista-destacadas .active a img,
.lista-destacadas .active a:hover img,
.lista-destacadas .active a:focus img{
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

/******** BANNER ********/
.slideshow .img{height: 90vh; min-height: 400px; max-height: 450px;}
.slideshow .img::after{padding-top: 0;}
.slideshow .img>div{left: 0; top: 0; width: 100%; height: 100%;}
.slideshow h1, .slideshow h2, .slideshow h3{
    color: #fff;
    text-align: center;
    text-shadow: 2px 5px 5px rgba(0,0,0,0.4);
}
.slideshow h1, .slideshow h2, .slideshow h3 {
    font-size: 48px;
    text-transform: uppercase;
}
.slideshow h1 ~ h2, .slideshow h3 {
    text-transform: none;
}
.bx-wrapper{margin-bottom: 0;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{bottom: 10px;}
.bx-wrapper .bx-pager.bx-default-pager a{background-color: transparent; border-radius: 50%; height: 18px; width: 18px; border: solid 2px #fff;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background-color: #fff;}

/******** BLOQUES PORTADA ********/
.bloques-portada{display: -webkit-box;display: -ms-flexbox;display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
ul.bloques-portada>li{width: 25%; padding: 0 20px; margin-bottom: 40px;}
.bloques-portada img{height: 55px; width: auto; margin-right: 15px;}
.bloques-portada h3{color: #a1c735; font-size: 18px;}

/******** BLOQUE PRODUCTO ********/
.bloque-producto{padding: 8px; background-color: transparent; -webkit-transition: all 0.4s; transition: all 0.4s; margin-top: 40px;}
.bloque-producto .img{background-color: #ededed;}
.bloque-producto .img::after{padding-top: 100%;}
.bloque-producto .img>img{-o-object-fit: contain;object-fit: contain; top: 25%; height: 50%;}
.bloque-producto h3{font-size: 14px; text-transform: none; font-weight: 300; margin-top: 20px; height: 2.4em; overflow: hidden;}
.bloque-producto .precio{font-weight: 700; font-size: 20px; display: block; margin: 10px 0 15px;}
.bloque-producto:hover .img>img{-webkit-transform: scale(1.2); transform: scale(1.2);}
.bloque-producto:hover{background-color: #fff; -webkit-box-shadow: 2px 4px 7px 3px rgba(174, 174, 174, 0.2); box-shadow: 2px 4px 7px 3px rgba(174, 174, 174, 0.2); -webkit-transform: translateY(-13px); transform: translateY(-13px);}
.bloque-producto .btn{font-size: 13px;}
.bloque-producto .btn-success{padding-left: 10px; padding-right: 10px;}
.bloque-producto .btn-like{margin-left: 4px;}

#nextProduct, #prevProduct{background-color: #d7d7d7; border: 0; border-radius: 8px; padding: 10px 10px 17px 17px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); font-size: 32px; line-height: 32px;}
#nextProduct{right: -48px;}
#prevProduct{left: -48px;}

/******** BLOQUES FULL ********/
.bloques-full{display: -webkit-box;display: -ms-flexbox;display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.bloques-full>li{width: 50%;}
.bloques-full .img>div{left: 0; top: 0; width: 100%; height: 100%;}
.bloques-full .img:hover>img{-webkit-transform: scale(1.1); transform: scale(1.1);}
.bloques-full h2, .bloques-full h3{color: #fff; text-align: center; text-shadow: 2px 5px 5px rgba(0,0,0,0.4); margin-bottom: 20px;}

/******** NOTICIAS ********/
.lista-noticias{display: -webkit-box;display: -ms-flexbox;display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.bloque-noticia{margin-bottom: 40px;}
.bloque-noticia h3, .bloque-noticia h1{font-size: 16px; margin-top: 20px; height: 1.2em; overflow: hidden;}
.bloque-noticia h1{font-size: 24px; overflow: visible; margin-bottom: 10px;}
.bloque-noticia p{height: 3.6em; overflow: hidden;}
.bloque-noticia:not(.interior) .img:hover>img{-webkit-transform: scale(1.1) rotate(2deg); transform: scale(1.1) rotate(2deg);}
.bloque-noticia.interior p{height: auto; overflow: visible;}

/******** FOOTER ********/
footer{background-color: #20651c;}
footer, footer a, footer p, footer a:hover{color: #fff; text-align: center; font-size: 14px;}
footer .redes-sociales li{padding: 0 10px;}
footer .redes-sociales a{font-size: 18px;}
footer .datos-contacto li+li::before, footer .otros-contenidos li+li::before{content: "|"; display: inline-block; margin: 0 7px 0 4px;}

/******** BANNER INTERIOR ********/
#banner-interior{overflow: hidden;}
#banner-interior .img::after{display: none;}
#banner-interior .img{height: 30vw; max-height: 300px;}
#banner-interior .overlay{position: absolute; bottom: -2px; left: 0; width: 100%; z-index: 3;}

/******** GALERIA ********/
.galeria .img{margin-bottom: 30px; border-radius: 16px;}
.galeria .img::after{padding-top: 100%;}
.galeria .img::before{content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; -webkit-transition: all 0.4s; transition: all 0.4s; background-image: url('../images/overlay.png'); background-size: cover; background-position: center; background-repeat: no-repeat; z-index: 3;}
.galeria .img:hover::before{opacity: 0.4;}
.galeria h2, .archivos_adjuntos h2{font-size: 24px;}

/******** CONTACTO ********/
#contacto .imagen{position: absolute; right: 30px; top: 0; width: 50vw; height: 100%; background-attachment: fixed;}
#contacto .imagen::after{display: none;}

/******** CONTENIDOS ********/
.nav-pills>li>a{border-radius: 8px;}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #40A83C;
}

/******** CATEGORIAS ********/
.sidebar-categorias h1{font-size: 24px; margin-bottom: 10px;}
.lista-categorias {display: -webkit-box;display: -ms-flexbox;display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.bloque-categoria h2 {font-size: 20px; margin: 10px 0;}
.bloque-categoria p {font-size: 14px;}
.bloque-categoria{margin-bottom: 40px;}
.bloque-categoria .img{border-radius: 15px; -webkit-transform:translateZ(0); transform:translateZ(0);}
.bloque-categoria:hover .img>img{-webkit-transform: scale(1.2); transform: scale(1.2);}

/******** BLOG ********/
.sidebar .form-control{height: auto;}
.sidebar .form-group-flex .btn{border-top-left-radius: 0; border-bottom-left-radius: 0;}

.list-group-item{padding: 0;}
.list-group-item>a{padding: 10px 15px; display: block;}

/******** PRODUCTO ********/
#producto .image-holder{display: -webkit-box;display: -ms-flexbox;display: flex; width: 100%;}
#producto .image-holder .img>img{-o-object-fit: contain;object-fit: contain;}
#producto .image-holder .otras-fotos{width: 30%; min-width: 64px; max-width: 128px;}
#producto .image-holder .otras-fotos .img{margin-bottom: 15px;}
#producto .image-holder>.img{-webkit-box-flex: 1;-ms-flex: 1;flex: 1}
#producto h1{font-size: 24px; margin-bottom: 20px;}
#producto h2{font-size: 20px; margin-bottom: 20px;}
#producto .btn + .btn-like{margin-left: 10px;}

.otros-modelos li+li{margin-top: 15px;}
.otros-modelos li>div{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.otros-modelos .img{width: 20%; margin-right: 15px;}
.otros-modelos .img::after{padding-top: 100%;}
.otros-modelos li>div>div:not(.img){display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
.otros-modelos .btn{margin-top: 15px;}

.lista-valoraciones p{text-align: center;}
.lista-valoraciones ul{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}

#perfil .form-group label{display: block;}
.lista-pedidos .header{padding: 15px; background-color: #f5f5f5; border-bottom: solid 1px #ccc; margin: 20px 0 10px; font-weight: 600;}
.pedido{display: flex; align-items: center;}
.pedido .img{background-color: #F5F5F5;}
.pedido .left{width: 40%; max-width: 200px; margin-right: 30px;}
.pedido .img::after{padding-top: 100%;}
.pedido .img>img{object-fit: contain; top: 25%; height: 50%;}
.pedido + .pedido {margin-top: 20px;}

.valoraciones h2{font-size: 20px; margin-bottom: 20px;}
.valoraciones .stars button{background: none; border: none;}
.valoraciones .stars button i{font-size: 30px; transition: all 0.2s; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; color: #ccc;}
.valoraciones .stars{display: flex; justify-content: center; -webkit-justify-content: center;}
.valoraciones .stars>div:hover button i, .stars button.active i{color: #000;}
.valoraciones .stars button:hover ~ button i{color: #ccc;}
.valoraciones textarea{min-height: 80px;}

/***************/
/* RESPONSIVO */
/***************/

@media screen and (max-width: 1200px){
    .no-flex-md{display: block;}
    .navbar-default .navbar-nav li a, .navbar-default .navbar-nav li button{padding: 20px;}
    .bloque-noticia h3{height: 2.4em;}
    .bloque-noticia p{height: 4.8em;}
    #postnav .container{width: 100%;}
}

@media screen and (max-width: 992px){
    .no-flex-sm{display: block;}
    body{padding-top: 125px;}
    .navbar-default .container {width: 100%;}
    .navbar-default .navbar-nav li a, .navbar-default .navbar-nav li button{font-size: 14px; padding-left: 15px; padding-right: 15px;}
    .navbar-default .navbar-nav.navbar-right li a, .navbar-default .navbar-nav.navbar-right li button{font-size: 18px;}
    .lista-destacadas a{font-size: 15px; font-weight: 600;}
    ul.bloques-portada>li{width: 50%;}
    .bloques-portada img{height: auto; width: 60px;}
    .bloques-portada h3{width: calc(100% - 60px);}
    .bloques-full h2, .bloques-full h3{font-size: 24px;}
    #nextProduct, #prevProduct{display: none;}
}

@media screen and (max-width: 768px){
    h1{font-size: 30px;}
    h2{font-size: 24px;}
    h3{font-size: 20px;}
    h4{font-size: 16px;}
    .no-flex-xs{display: block;}
    #postnav{display: none;}
    body{padding-top: 70px;}
    #prenav{display: none;}
    .navbar-brand>img{height: 40px;}
    .slideshow h1, .slideshow h2, .slideshow h3 {font-size: 28px;}
    .navbar-default .navbar-toggle{margin-top: 19px; margin-bottom: 19px;}
    .navbar-default .navbar-nav li a, .navbar-default .navbar-nav li button{padding: 15px; margin-top: 0px; display: block; text-align: left; width: 100%;}
    .navbar-default .navbar-nav li a img{width: 32px; height: auto; margin-right: 15px;}
    ul.bloques-portada>li{width: 100%;}
    .bloques-full .img::after{padding-top: 100%;}
    .bloques-full>li{width: 100%;}
    .bloque-noticia h3{height: auto;}
    .bloque-noticia p{height: auto;}
    .bloque-noticia .btn{display: block;}
    footer .otros-contenidos li, footer .datos-contacto li{display: block;}
    footer .otros-contenidos li a, footer .datos-contacto li a{padding: 10px 0; display: block;}
    footer .otros-contenidos li+li::before, footer .datos-contacto li+li::before{display: none;}
    #callCTA{display: -webkit-box;display: -ms-flexbox;display: flex; position: fixed; bottom: 20px; left: 20px; height: 48px; width: 48px; border-radius: 50%; -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.1); box-shadow: 0 0 8px 1px rgba(0,0,0,0.1); background-color: #fff; font-size: 24px; -webkit-transform: translateZ(10px); transform: translateZ(10px); z-index: 9999;}
    .pedido{display: block;}
    .pedido .left{width: 100%; display: flex; justify-content: center; flex-direction: column; max-width: 100%; margin-right: 0; margin-bottom: 20px;}
    .pedido .img{width: 100%;}
}